#### Imports

In [13]:
# Import sklearn/tensorflow modules.
import tensorflow as tf
import tensorflow_datasets as tfds
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv2D, MaxPooling2D, Dense, Flatten
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Import other modules.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle
import os
from time import sleep
from IPython.display import clear_output
%matplotlib inline

dataset = pd.read_csv('data.csv')
display(dataset)

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227,PHI,NL,1962,705,759,81,0.330,0.390,0.260,0,NaN,NaN,161,NaN,NaN
1228,PIT,NL,1962,706,626,93,0.321,0.394,0.268,0,NaN,NaN,161,NaN,NaN
1229,SFG,NL,1962,878,690,103,0.341,0.441,0.278,1,1.0,2.0,165,NaN,NaN
1230,STL,NL,1962,774,664,84,0.335,0.394,0.271,0,NaN,NaN,163,NaN,NaN
1231,WSA,AL,1962,599,716,60,0.308,0.373,0.250,0,NaN,NaN,162,NaN,NaN

TypeError: 'module' object is not callable

#### Data Analysis

In [19]:
print(dataset.columns)
print(np.unique(dataset['Year']))    # spans from 1962 - 2012

# ---- VARIABLE DESCRIPTIONS ----
# RS:           runs scored
# RA:           runs allowed
# W:            wins
# OBP:          on-base percentage
# SLG:          slugging percentage
# BA:           batting average
# Playoffs:     binary (if team made playoffs or not)
# RankSeason:   rank of team before playoffs
# RankPlayoffs: rank of team after playoffs ends
# G:            games played
# OOBP:         opponent on-base percentage
# OSLG:         opponent slugging percentage

Index(['Team', 'League', 'Year', 'RS', 'RA', 'W', 'OBP', 'SLG', 'BA',
       'Playoffs', 'RankSeason', 'RankPlayoffs', 'G', 'OOBP', 'OSLG'],
      dtype='object')
[1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1973 1974 1975 1976
 1977 1978 1979 1980 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991
 1992 1993 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007
 2008 2009 2010 2011 2012]

In [21]:
print(np.unique(dataset['RankSeason']))
print(np.unique(dataset['RankPlayoffs']))

[ 1.  2.  3.  4.  5.  6.  7.  8. nan]
[ 1.  2.  3.  4.  5. nan]